# SQL Notebook Example
 - This notebook will go through an example of creating a database from scratch using MySQL in Python
 - Once created, some example data will be passed into the database
 - Finally, the database will be imported into pandas and an example chart made using MatPlotLib

## Import Packages

In [ ]:
import pandas as pd
import mysql.connector
import matplotlib.pyplot as plt
import seaborn as sns

Connect to a new database using MySQL

In [ ]:
database = mysql.connector.connect(
    host="localhost",
    user="sqluser",
    password="password",
    database="customershoppingexample"
)

cursor = database.cursor()

Create the initial table

In [ ]:
createTable1 = """CREATE TABLE customers (customerID INT AUTO_INCREMENT PRIMARY KEY, fisrtName VARCHAR(255), lastName VARCHAR(255))"""
createTable2 = """CREATE TABLE products (departmentName VARCHAR(255), productID INT UNIQUE, productName VARCHAR(255), stockAmount INT, unitPrice INT)"""
createTable3 = """CREATE TABLE orders (orderNumber INT AUTO_INCREMENT PRIMARY KEY, orderValue INT)"""

cursor.execute(createTable1)
cursor.execute(createTable2)
cursor.execute(createTable3)

Making some alterations to the tables

In [ ]:
alter1 = "ALTER TABLE orders ADD customerID INT"
link1 = "ALTER TABLE orders ADD FOREIGN KEY (customerID) REFERENCES customers(customerID)"
alter2 = "ALTER TABLE orders ADD productID INT"
alter3 = "ALTER TABLE orders ADD quantity INT"
alter4 = "ALTER TABLE products ADD PRIMARY KEY (productID)"
link2 = "ALTER TABLE orders ADD FOREIGN KEY (productID) REFERENCES products(productID)"

cursor.execute(alter1)
cursor.execute(link1)
cursor.execute(alter2)
cursor.execute(alter3)
cursor.execute(alter4)
cursor.execute(link2)

Fill the database with examples and commit the database

In [ ]:
customerFill = "INSERT INTO customers (fisrtName, lastName) VALUES (%s, %s)"
c1 = ("Sarah", "Smith")
c2 = ("Lily", "Graham")
c3 = ("Mark", "Hamal")
c4 = ("Darth", "Vadar")
c5 = ("Luke", "Skywalker")

productFill = "INSERT INTO products (departmentName, productID, productName, stockAmount, unitPrice) VALUES (%s, %s, %s, %s, %s)"
p1 = ("Kitchen", "0001", "Pan", "100", "10.99")
p2 = ("Kitchen", "0002", "Pot", "100", "20.00")
p3 = ("Kitchen", "0003", "Slice No More Knife", "100", "5.50")
p4 = ("Bedroom", "0004", "Duvet", "25", "49.99")
p5 = ("Living Room", "0005", "Lamp", "120", "35.99")

orderFill = "INSERT INTO orders (customerID, orderValue, productID, quantity) VALUES (%s, %s, %s, %s)"
o1 = ("4", "20.00", "0002", "1")
o2 = ("3", "5.50", "0003", "1")
o3 = ("2", "99.98", "0004", "2")
o4 = ("4", "35.99", "0005", "1")
o5 = ("5", "20.00", "0002", "1")

cursor.execute(customerFill, c1)
cursor.execute(customerFill, c2)
cursor.execute(customerFill, c3)
cursor.execute(customerFill, c4)
cursor.execute(customerFill, c5)
cursor.execute(productFill, p1)
cursor.execute(productFill, p2)
cursor.execute(productFill, p3)
cursor.execute(productFill, p4)
cursor.execute(productFill, p5)
cursor.execute(orderFill, o1)
cursor.execute(orderFill, o2)
cursor.execute(orderFill, o3)
cursor.execute(orderFill, o4)
cursor.execute(orderFill, o5)

database.commit()

Read the database in pandas

In [ ]:
cursor.execute('SELECT * FROM products')
products_df = pd.DataFrame(cursor.fetchall(), columns=["department_name", "productID", "product_name", "stock_amount", "unit_price"])

cursor.execute('SELECT * FROM orders')
orders_df = pd.DataFrame(cursor.fetchall(), columns=["order_number", "order_value", "customerID", "productID", "quantity"])

cursor.execute('SELECT * FROM customers')
customers_df = pd.DataFrame(cursor.fetchall(), columns=["customerID", "first_name", "last_name"])

Plot an example chart

In [ ]:
plt.figure()
sns.barplot(data=orders_df, x="order_value", y="quantity")
plt.ylabel("Units Ordered")
plt.xlabel("Order Value")
plt.title("Bar Plot Showing Order Value Against Units Ordered")
plt.yticks([0, 1, 2])